body{
    background-color: beige;
}
#div{
    background-color: rgb(250, 208, 157);
    background-size: 100%;
    width: 90%;
    font-family: consolas;
    margin: 0 auto;
    padding: 50px;
}

/* HEADER/NAV */
.hder1{
    width: 100%;
    display: flex;
}
.divhder1{
    float: left;
    width: 30%;
    height: 50px;
}
.imghder1{
    width: 50px;
    position: relative;
    top: -20px;
}
header h1{
    font-size: 24px;
    font-family: "brush script MT";
    text-transform: uppercase;
    position: relative;
    left: 60px;
    top: -62px;
}
header h2{
    position: relative;
    left: 12px;
    top: -70px;
    text-transform: capitalize;
    font-family: verdana;
    font-size: 20px;
}
.nav1{
    width: 300px;
    position: relative;
    left: 150px;
    top: 20px;
}
.ulnav1{
    display: flex;
}
.linav1{
    display: inline-block;
    list-style-type: none;
    font-family: cooper;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    margin: 0px 30px;
    border-bottom: 3px solid rgb(68, 89, 121);
    background-color: rgba(60, 100, 160, 0.15);
    border-radius:4px 0px 4px 0px;
}
a, img{
    text-decoration: none;
    cursor: zoom-in;
}
p, h1, h2, li{
    cursor: pointer;
}
.a{
    color: rgb(12, 25, 46);
    
}
.linav1::selection{
    border-bottom: 4px solid rgb(218, 88, 42);
    background-color: rgba(218, 88, 42, 0.15);
}
.separateur{
    width: 100%;
    height: 3px;
}

/* bigdiv */
.bigdiv{
    margin-top: 15px;
    background-image: url("images/sanfrancisco.jpg");
    background-size: 100%;
    height: 200px;
    border-radius: 5px;
    position: relative;
}
.bigp1{
    background-color: rgba(14, 13, 13, 0.7);
    width: 100%;
    height: 35px;
    position: absolute;
    bottom: -15px;
    color: white;
    padding-top: 10px;
    border-radius: 10px 10px 5px 5px;
}
div p button{
    background-image: url("images/fond_degraderouge.png");
    width: 130px;
    height: 33px;
    padding-top: 6px;
    display: flex;
    float: right;
    border-radius: 5px;
    box-shadow: -2px 3px 5px black;
}
.fleche{
    position: relative;
    left: 9px;
}
.a2{
    color: white;
}

/* SECTION */
#section{
    display: flex;
    width: 100%;
    margin: 0px;
    height: 610px;
}
.article{
    float: left;
    width: 70%;
}
.imgarticle, .h1article{
    display: inline-block;
    float: left;
}
.imgarticle{
    width: 50px;
}
.h2article{
    vertical-align: baseline;
    position: relative;
    top: -10px;
    text-transform: uppercase;
    font-family: broadway;
    letter-spacing: 2px;
    font-size: 25px;
}
article div{
    overflow: scroll;
    height: 90%;
}
article p, aside p{
    text-align: justify;
    margin: 5px 10px;
}
.aside{
    background-color: rgb(124, 124, 124);
    width: 28%;
    height: 550px;
    margin-top: 25px;
    margin-left: 25px;
    color: rgb(241, 241, 184);
    border-radius: 7px;
}
.h2aside{
    text-align: center;
    font-family: broadway;
    letter-spacing: 2px;
}
.imgaside1{
    width: 150px;
    position: relative;
    left: 90px;
}
.divaside{
    display: flex;
    width: 80%;
    margin: auto;
}
.imgaside2, .imgaside3, .imgaside4, .imgaside5, .imgaside6{
    width: 85%;
    position: relative; 
    top: 13px; 
    margin: 10px 7px;
    border-radius: 10px;
    box-shadow: 0px 6px 3px rgba(49, 48, 48, 0.6);
    cursor: zoom-in;
}

/* FOOTER */
.footer{
    /* background: url('images/ico_top.png') no-repeat top; */
    background-color: rgb(228, 202, 163);
    width: 100%;
    margin: 0px;
    padding: 10px 5px;
    display: flex;
}
.divfooter1, .divfooter2, .divfooter3{
    width: 32%;
    height: 170px;
    margin: 18px 20px;
    box-shadow: -3px 3px 4px gray;
    border-radius: 0px 0px 0px 10px;
}
.h1footer1, .h1footer2,.h1footer3{
    text-align: center;
    text-transform: uppercase;
    color: rgb(2, 2, 27);
}
.pfooter1, .pfooter2{
    margin: 30px 30px;
}
.pfooter2{
    font-family: candara;
    font-size: 15px;
    text-align: center;
}
.ulfooter1, .ulfooter2{
    display: inline-block;
    list-style-image: url('images/ico_liensexterne.png');
    list-style-position: right;
    margin-bottom: 10px;
}
.divfooter2-2{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.imgfooter1, .imgfooter2, .imgfooter3, .imgfooter4{
    align-content: space-between;
    width: 20%;
    margin: auto;
    border: 1px solid black;
    border-radius: 3px;
}
/* 111111 */
/* 111111 */
@media screen and (min-width: 987px) and (max-width: 1150px)
{
    #div{
        width: 90%;
        background-color: rgb(225, 247, 203);
    }
    .nav1{
        position: relative; 
        left: 180px; 
    }
    .linav1{
        display: inline-block;
        list-style-type: none;
        font-family: cooper;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 18px;
        margin: 0px 15px;
    }
    /* SECTION */
    .h2article{
        position: relative;
        top: 0px;
        font-family: britannic;
    }
    aside p{
        margin: 3px 5px;
    }
    .aside{
        height: 560px;
        margin-top: 20px;
    }
    .h2aside{
        text-align: center;
        font-family: britannic;
        letter-spacing: 2px;
    }
    .imgaside1{
        width: 90px;
        position: relative;
        left: 80px;
    }
    /* FOOTER */
    .footer{
        background-color: rgb(228, 202, 163);
    }
    .h1footer1, .h1footer2,.h1footer3{
        font-size: x-large;
    }
    .pfooter1, .pfooter2{
        margin: 30px 30px;
    }
    .pfooter2{
        font-family: candara;
        font-size: 15px;
        text-align: center;
    }
    .ulfooter1, .ulfooter2{
        display: inline-block;
        list-style-image: url('images/ico_liensexterne.png');
        list-style-position: right;
        margin-bottom: 10px;
    }
    .ulfooter2{
        display: none;
    }
    .divfooter2-2{
        width: 100%;
        display: flex;
        flex-direction: row;
        position: relative;
        top: 25px;
    }
}
/*222222*/
/*222222*/
@media screen and (min-width: 785px) and (max-width: 986px)
{
    #div{
        background-color: rgb(202, 243, 243);
        width: 80%;
    }
    .imghder1{
        width: 50px;
    }
    header h2{
        position: relative;
        left: 12px;
        top: -70px;
        text-transform: capitalize;
        font-family: britannic;
        font-size: 20px;
        text-decoration: underline;
    }
    .ulnav1{
        display: block;
        width: 10%;
    }
    .linav1{
        display: block;
        font-size: 14px;
        margin: 5px 0;
        border-bottom: none;
        background: none;
    }
    .linav1:hover{
        border-left: 2px solid rgb(16, 26, 44);
        border-radius: 2px;
    }
    .bigdiv{
        display: none;
    }
    /* SECTION */
    #section{
        display: block;
        width: 100%;
        height: 100%;
        margin: 0px;
    }
    .article{
        width: 100%;
        height: 410px;
    }
    .h2article{
        font-family: britannic;
        font-size: large;
    }
    .imgarticle{
        width: 35px;
    }
    article div{
        height: 85%;
    }
    .aside{
        clear: both;
        background-color: rgb(124, 124, 124);
        width: 100%;
        height: 260px;
        margin: 0 0;
        color: rgb(241, 241, 184);
        border-radius: 7px;
    }
    .h2aside{
        font-family: britannic;
    }
    .imgaside1{
        width: 100px;
        float: left;
        position: relative;
        left: 0;
    }
    .divaside{
        width: 50%;
        margin: auto;
    }
    /* FOOTER */
    .footer{
        background-color: rgb(236, 224, 208);
    }
    .h1footer1, .h1footer2,.h1footer3{
        font-size: medium;
    }
    .divfooter1, .divfooter2, .divfooter3{
        width: 32%;
        height: 140px;
    }
    .divfooter1{
        width: 30%;
    }
    .divfooter3{
        width: 34%;
    }
    .pfooter1, .pfooter2{
        margin: 10px 30px;
    }
    .ulfooter2{
        display: none;
    }
    .divfooter2-2{
        position: relative;
        top: 55px;
    }
}
/*333333*/
/*333333*/
@media screen and (min-width: 547px) and (max-width: 784px)
{
    #div{
        background-color: rgba(248, 167, 152, 0.548);
        width: 75%;
    }
    .imghder1{
        width: 50px;
    }
    header h2{
        position: relative;
        left: 12px;
        top: -70px;
        text-transform: capitalize;
        font-family: britannic;
        font-size: 20px;
        text-decoration: underline;
    }
    .nav1{
        position: relative; 
        left: 140px; 
    }
    .ulnav1{
        display: block;
        width: 10%;
    }
    .linav1{
        display: block;
        font-size: 14px;
        margin: 5px 0;
        border-bottom: none;
        background: none;
    }
    .linav1:hover{
        border-left: 2px solid rgb(16, 26, 44);
        border-radius: 2px;
    }
    .bigdiv{
        display: none;
    }
     /* SECTION */
     #section{
        display: block;
        width: 100%;
        height: 100%;
        margin: 0px;
    }
    .article{
        width: 100%;
        height: 370px;
    }
    article div{
        height: 85%;
    }
    .h2article{
        font-family: britannic;
        font-size: large;
    }
    .imgarticle{
        width: 35px;
    }
    article p, aside p{
        font-size: small;
    }
    .aside{
        clear: both;
        background-color: rgb(124, 124, 124);
        width: 100%;
        height: 260px;
        margin: 0 0;
        color: rgb(241, 241, 184);
        border-radius: 7px;
    }
    .h2aside{
        font-family: britannic;
    }
    .imgaside1{
        width: 70px;
        float: left;
        position: relative;
        left: 0;
    }
    .divaside{
        width: 50%;
        margin: auto;
    }
    /* FOOTER */
    .footer{
        background-color: rgba(250, 221, 216, 0.733);
    }
    .h1footer1, .h1footer2,.h1footer3{
        font-size: medium;
    }
    .divfooter1, .divfooter2, .divfooter3{
        width: 32%;
        height: 140px;
        box-shadow: none;
    }
    .divfooter1{
        width: 30%;
    }
    .divfooter3{
        width: 34%;
    }
    .pfooter1, .pfooter2{
        margin: 5px 30px;
        font-family: georgia;
        font-size: smaller;
    }
    .ulfooter1{
        margin-top: 5px;
    }
    .ulfooter2{
        display: none;
    }
    .divfooter2-2{
        position: relative;
        top: 35px;
    }
    footer ul li{
        font-size: smaller;
    }
}
@media screen and (max-width: 546)
{
    
}